ControlPanel
HomeInfoCenter
upnp/gen
upnp/bin
upnp/jni
TestUPnP
WeShareDemo/.settings
WeShareDemo/bin
WeshareDemo/assets
WeShareDemo/gen
WeShareDemo/libs
GstreamerUtil/gen
GstreamerUtil/bin
GstreamerUtil/gst-build
GstreamerUtil/obj
GstreamerUtil/libs/armeabi
GstreamerUtil/gst-build-armeabi
