ControlPanel
HomeInfoCenter
upnp/gen
upnp/bin
upnp/jni
TestUPnP/gen
TestUPnP/bin
TestUPnP/libs/upnp.jar
GstreamerUtil/gen
GstreamerUtil/bin
GstreamerUtil/gst-build
GstreamerUtil/obj
GstreamerUtil/libs/armeabi
TestUPnP/libs/armeabi
TestUPnP/libs/gstreamerutil.jar
GstreamerUtil/gst-build-armeabi
